{{!-- Pagina de inicio del servidor --}}
<div>
    <h1>
        Inicio
    </h1>
    <h2>Todos los productos</h2>
    <ul>
        {{#each products}}
        <li>
            {{this.title}} : ${{this.price}}
        </li>
        {{/each}}
    </ul>
</div>